<div class="mb-3 px-4">

  <div class="max-w-xl lg:max-w-lg">
    <div class=" flex max-w-md gap-x-4">
      <input id="search" name="search" type="text" autocomplete="off" required
        class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2  shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
        placeholder="Buscar ..." #inputSearch (keyup.enter)="searchLogs()">
      <button type="submit"
        class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        (click)="searchLogs()">Buscar</button>
    </div>
  </div>

</div>

<div class="container bg-white px-4">


  <ul role="list" class="divide-y divide-gray-100 " [ngClass]="{'animate-pulse': loading}">
    <li class="flex justify-between gap-x-6 py-3" *ngFor="let log of logsResponse">
      <div class="flex gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50"
          src="https://openweathermap.org/img/w/{{log.weather.icon}}.png" alt="">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">{{log.city}}</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">Humedad: {{log.humidity}}%</p>
          <p class=" truncate text-xs leading-5 text-gray-500">Fecha Consulta: <time
              datetime="2023-01-23T13:23Z">{{log.created_at | date:'d-MM-yyyy, h:mm:ss a'}}</time></p>
        </div>
      </div>
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">{{log.weather.description}}</p>
        <p class="mt-1 text-xs leading-5 text-gray-500">{{log.timezone}}</p>
      </div>
    </li>
  </ul>

</div>

<div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
  *ngIf="dataResponseLog">

  <div class="flex flex-1 justify-between sm:hidden">
    <div (click)="goToPageUrl(dataResponseLog.prev_page_url)"
      class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 cursor-pointer">
      Anterior</div>
    <div (click)="goToPageUrl(dataResponseLog.next_page_url)"
      class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 cursor-pointer">
      Siguiente</div>
  </div>

  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Mostrando
        <span class="font-medium">{{dataResponseLog.from}}</span>
        a
        <span class="font-medium">{{dataResponseLog.to}}</span>
        de
        <span class="font-medium">{{dataResponseLog.total}}</span>
        resultados
      </p>
    </div>

    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">

        <div
          class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0 cursor-pointer"
          *ngFor="let link of linksResponse; let first = first; let last = last" (click)="goToPage(link)"
          [ngClass]="{'z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600': link.active, 'hover:bg-gray-50': !link.active}">
          <div *ngIf="first">
            <span class="sr-only">Anterior</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                clip-rule="evenodd" />
            </svg>
          </div>

          <span *ngIf="!first && !last">{{link.label}}</span>

          <div *ngIf="last">
            <span class="sr-only">Siguiente</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
